body {
  margin: 0;
  font-family: "Lucida Console", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(217,75,130);
  background: linear-gradient(89deg, rgba(217,75,130,1) 0%, rgba(179,142,224,1) 50%, 
                                      rgba(69,179,205,1) 66%, rgba(69,205,162,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
